
.background {
  viewport-fill: #000000;
}

#clock {
  width: 300;
  height: 300;
  x: 50%-150;
  y: 50%-150;
}

text {
  fill: white;
  text-length: 250;
  text-anchor: middle;
}

#hrNumber {
  x: 50%-15;
  y: 60%;
  font-size:120;
  font-family: Colfax-Thin;
  text-length: 2;
  text-anchor: end;
}

#minNumber {
  x: 50%-15;
  y: 60%;
  font-size:120;
  font-family: Colfax-Medium;
  text-length: 2;
  text-anchor: start;
}

#dateString {
  x: 50%;
  y: 60%-100;
  font-size: 22;
  font-family: Seville-Bold;
}

#debug {
  x: 50%;
  y: 60%+100;
  font-size: 16;
  font-family: Seville-Bold;
}

#stepCount {
  x: 4%;
  y: 7%;
  font-size: 20;
  font-family: Seville-Book;
  text-anchor: start;
}

#batGauge {
  x: 95%;
  y: 7%;
  font-size: 20;
  font-family: Seville-Book;
  text-anchor: end;
}